webpages/dtd/channelPublishingDocument.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT channelDef (description, class, params)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT class (#PCDATA)>
<!ELEMENT params (step+)>
<!ELEMENT step (ID, name, description, parameter+)>
<!ELEMENT ID (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT parameter (name, label, type, defaultValue?)>
<!ATTLIST parameter
	modify (subscribe | publish | subscribe-only | publish-only) #REQUIRED
>
<!ELEMENT label (#PCDATA)>
<!ELEMENT defaultValue (#PCDATA)>

<!ELEMENT type (data, base, display?, length?, maxlength?, restriction?)>
<!ATTLIST type
	base (string | integer | float | boolean) #REQUIRED
	input (multi-choice | single-choice | text) #REQUIRED
	display (drop-down | radio | select-list | checkbox | text | textarea | hidden) #IMPLIED
>

<!ELEMENT length (#PCDATA)>
<!ELEMENT maxlength (#PCDATA)>

<!ELEMENT restriction (value*, min?, max?)>
<!ATTLIST restriction
	type (enumeration | range) #REQUIRED
>

<!ELEMENT max (#PCDATA)>
<!ELEMENT min (#PCDATA)>
<!ELEMENT value (#PCDATA)>
<!ATTLIST value
	display CDATA #IMPLIED
	default (true | false) #IMPLIED
>

<!ELEMENT controls EMPTY>
<!ATTLIST controls
	timeout CDATA "5000"
	minimized (true | false) "true"
	detachable (true | false) "true"
	editable (true | false) "true"
	hasHelp (true | false) "true"
	hasAbout (true | false) "true"
	removable (true | false) "true"
>
