webpages/dtd/channelDefinition.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by JTL (UD) -->
<!ELEMENT channelDef (description, params)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT params (step+)>
<!ELEMENT step (ID, name, description, parameter+)>
<!ELEMENT ID (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT parameter (name, label,  type, defaultValue?)>
<!ATTLIST parameter
	modify (subscribe | publish | subscribe-only | publish-only) #REQUIRED
>
<!ELEMENT label (#PCDATA)>
<!ELEMENT defaultValue (#PCDATA)>
<!ELEMENT type (data, base, display?, length?, maxlength?, restriction?)>
<!ELEMENT data (#PCDATA)>
<!ELEMENT base (#PCDATA)>
<!ELEMENT display (#PCDATA)>
<!ELEMENT length (#PCDATA)>
<!ELEMENT maxlength (#PCDATA)>
<!ELEMENT restriction (value*, min?, max?)>
<!ATTLIST restriction
	type (enumeration | range) #REQUIRED
>
<!ELEMENT max (#PCDATA)>
<!ELEMENT min (#PCDATA)>
<!ELEMENT value (#PCDATA)>
<!ATTLIST value
	default (true | false) #IMPLIED
>
