webpages/dtd/userLayout.dtd

<!ELEMENT layout (category|channel)*>

<!ELEMENT category (category|channel)*>
<!ATTLIST category
  ID ID #REQUIRED
  priority CDATA #REQUIRED
  name CDATA #IMPLIED>

<!ELEMENT channel (parameter)*>
<!ATTLIST channel 
  ID ID #REQUIRED
  priority CDATA #REQUIRED
  name CDATA #REQUIRED 
  minimized (true|false) "true"
  detachable (true|false) "true"
  editable (true|false) "true"
  hasHelp (true|false) "true"
  removable (true|false) "true"
  minimizable (true|false) "true"
  class CDATA #REQUIRED>


<!ELEMENT parameter EMPTY>
<!ATTLIST parameter 
  name CDATA #REQUIRED
  value CDATA #REQUIRED>