uportal-impl/src/main/resources/dtd/adminNav.dtd

<!--

    Copyright (c) 2000-2009, Jasig, Inc.
    See license distributed with this file and available online at
    https://www.ja-sig.org/svn/jasig-parent/tags/rel-10/license-header.txt

-->
<!ELEMENT links (link+)>
<!ELEMENT link (parameter+)>
<!ATTLIST link
          labelId CDATA #REQUIRED
          channelFunctionalName CDATA #REQUIRED>

<!ELEMENT parameter EMPTY>
<!ATTLIST parameter
          name CDATA #REQUIRED
          value CDATA #REQUIRED>
