uportal-impl/src/main/resources/dtd/EntityPropertyRegistry.dtd

<!--

    Copyright (c) 2000-2009, Jasig, Inc.
    See license distributed with this file and available online at
    https://www.ja-sig.org/svn/jasig-parent/tags/rel-10/license-header.txt

-->
<!ELEMENT EntityPropertyRegistry (store,finder*)>
<!ELEMENT store EMPTY>
<!ATTLIST store precedence CDATA #REQUIRED
	impl CDATA #REQUIRED
>
<!ELEMENT finder EMPTY>
<!ATTLIST finder precedence CDATA #REQUIRED
	type CDATA #REQUIRED
	impl CDATA #REQUIRED
>