uportal-impl/src/main/resources/dtd/PersonDirs.dtd

<!--

    Copyright (c) 2000-2009, Jasig, Inc.
    See license distributed with this file and available online at
    https://www.ja-sig.org/svn/jasig-parent/tags/rel-10/license-header.txt

-->
<!ELEMENT PersonDirs (PersonDirInfo+) >

<!ELEMENT PersonDirInfo (res-ref-name, uidquery, attributes*) >

<!ELEMENT res-ref-name (#PCDATA) >

<!ELEMENT uidquery (#PCDATA) >


<!ELEMENT attributes (attribute*) >

<!ELEMENT attribute (alias, name) >

<!ELEMENT alias (#PCDATA) >
<!ELEMENT name (#PCDATA) >
